.Home {
  min-width: 100vw;
  min-height: 100vh;
  display: grid;
  grid-template-areas: "BaseConverter Result";
  grid-template-columns: 40% 60%;
}

@media (max-width:768px) {
  .Home {
    width: 100vw;
    min-height: 100vh;
    display: grid;
    grid-template-areas: "BaseConverter""Result";
    grid-template-columns: 100%;
    grid-template-rows: 85vh auto;
  }
}
